#list {
  display: flex;
  flex-wrap: wrap;
}
#list li {
  cursor: pointer;
  list-style: none;
  text-transform: capitalize;
}
#list li:hover {
}

#description {
  display: none;
  position: fixed;
  top: 50px;
  left: 50px;
  background-color: white;
}

#description.show {
  display: block;
}

dd {
  position: fixed;
  margin-left: 50px;
  top: -50px;
}
