@font-face {
  font-family: "pokemon_classicregular";
  src: url("../police/pokemon_classic-webfont.woff2") format("woff2"),
    url("../police/pokemon_classic-webfont.woff") format("woff"),
    url("../police/pokemon_Classic.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "pokemon_classicregular";
}

#list {
  display: flex;
  flex-wrap: wrap;
}

#list li {
  cursor: pointer;
  list-style: none;
  text-transform: capitalize;
  text-align: center;
  background-image: linear-gradient(grey, white, grey);
  margin: 10px 10px 10px 10px;
  height: 130px;
  width: 170px;
}
#list li:hover {
}

#description {
  display: none;
  position: fixed;
  top: 50px;
  left: 50px;
  width: 300px;
  background-image: linear-gradient(white, grey);
}

#description.show {
  display: block;
}

li,
#description {
  border: 5px outset red;
}

dd {
  text-transform: capitalize;
  position: relative;
  left: 60px;
  top: -26px;
  /* background-image: linear-gradient(white, grey); */
}
