#list {
  display: flex;
  flex-wrap: wrap;
}
#list li {
  cursor: pointer;
  list-style: none;
  text-transform: capitalize;
  text-align: center;
  background-image: linear-gradient(white, grey);
  margin: 10px 10px 10px 10px;
}
#list li:hover {
}

#description {
  display: none;
  position: fixed;
  top: 50px;
  left: 50px;
  width: 200px;
  background-image: linear-gradient(white, grey);
}

#description.show {
  display: block;
}

dd {
  position: relative;
  left: 10px;
  top: -18px;
  /* background-image: linear-gradient(white, grey); */
}
