@font-face {
  font-family: "Pokemon_classic";
  src: url("https://drive.google.com/file/d/1RGT63dLUYnv_spFKxq-S1hZK87FVJ8Mj/view?usp=sharing-Regular.ttf");
}

#list {
  display: flex;
  flex-wrap: wrap;
}
#list li {
  cursor: pointer;
  list-style: none;
  text-transform: capitalize;
  text-align: center;
  background-image: linear-gradient(grey, white, grey);
  margin: 10px 10px 10px 10px;
}
#list li:hover {
}

#description {
  display: none;
  position: fixed;
  top: 50px;
  left: 50px;
  width: 200px;
  background-image: linear-gradient(white, grey);
}

#description.show {
  display: block;
}

dd {
  position: relative;
  left: 10px;
  top: -18px;
  /* background-image: linear-gradient(white, grey); */
}
