#list {
  display: flex;
  flex-wrap: wrap;
}
#list li {
  cursor: pointer;
}
#list li:hover {
}

#description {
  display: none;
}

#description.show {
  display: block;
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: white;
}
